@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100&display=swap");
h1 {
  font-family: "Cabin", sans-serif;
  font-size: 1.5em;
  color: #00a098;
  background-color: #ebe8e8;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #202020; }

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  padding: 10px;
  margin: 15px 10px; }

h3 {
  font-family: "Roboto", sans-serif;
  text-align: center; }

p {
  font-size: 1em;
  font-weight: 600;
  color: #202020;
  font-size: 1em;
  padding: 25px; }

.TextoFooter {
  font-size: 1em;
  font-weight: 600;
  color: #202020;
  color: #00a098;
  padding: 5px; }

* {
  padding: 0;
  margin: 0; }

.scale:hover {
  transform: scaleX(1.2);
  cursor: pointer; }

.main section img {
  width: 100%; }

.main2 h1 {
  text-align: center;
  padding-top: 15px; }

#parrafo-ajuste {
  background-color: #ff007b; }

#cajasLab {
  padding-top: 20px; }

.studios {
  background-color: #fafafa;
  padding: 20px; }
  .studios img {
    padding: 5px;
    border-radius: 2%; }

.mapa {
  padding: 20px;
  text-align: center; }

.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; }
  .buttons .btn-callMe, .buttons .btn-join-club, .buttons .btn-contribute {
    background-color: #00a098;
    border-color: #00a098;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 0px 15px;
    color: #fafafa;
    box-shadow: none;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap; }
  .buttons .btn-join-club {
    background-color: #ff007b; }
  .buttons .btn-contribute {
    background-color: orange; }

.footer .socials li img {
  width: 45px; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe8e8; }
  header .botonera ul {
    display: flex;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 15px; }
    header .botonera ul li {
      margin-right: 10px; }
      header .botonera ul li a {
        text-decoration: none;
        color: #00a098;
        text-transform: uppercase; }
        header .botonera ul li a:hover {
          background-color: #43e6d8; }
          header .botonera ul li a:hover img {
            margin-top: 15px; }

footer {
  padding: 20px 20px;
  background-color: #00a098; }
  footer .pie {
    display: flex;
    flex-direction: column; }
    footer .pie h3 {
      padding: 10px; }

.socials {
  list-style: none;
  display: flex; }
  .socials li a img {
    width: 30px;
    padding: 5px; }

@media (min-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .section-1 {
      width: 50%; }
    .main .section-2 {
      width: 50%; }
  .main2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pie {
    flex-direction: row;
    justify-content: center; }
  .contactPage {
    flex-direction: row; } }

@media (min-width: 1024px) {
  .main .section-1 {
    width: 70vw; }
  .main .section-2 {
    width: 30vw; }
  #galleryLeft {
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-left: 250px; } }

p {
  background-color: #00afb2; }

.footer {
  background-color: #e2e2e2; }

#grey-text {
  background-color: #ebe8e8; }
