@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100&display=swap");
h1 {
  font-family: "Cabin", sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #fafafa; }

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  padding: 10px;
  margin: 15px 10px;
  color: #fafafa; }

h3 {
  font-family: "Roboto", sans-serif;
  text-align: center; }

p {
  font-size: 1em;
  font-weight: 400;
  color: #fafafa;
  font-size: 1em;
  padding: 25px;
  border-radius: 5px;
  border: dashed #ebe8e8 1px;
  -webkit-box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74);
  -moz-box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74);
  box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74); }

.TextoFooter {
  font-size: 1em;
  font-weight: 400;
  color: #202020;
  color: #fafafa;
  padding: 5px; }

* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

.logo img {
  width: 70%; }

.main section img {
  width: 100%; }

.main2 h1 {
  text-align: center;
  padding-top: 15px; }

#parrafo-ajuste {
  background-color: #ff007b; }

#cajasLab {
  padding-top: 20px; }

.studios {
  width: 100%;
  background: #ff007b;
  background: linear-gradient(90deg, #ff007b 0%, #099cb3 100%);
  padding: 20px; }
  .studios img {
    padding: 5px;
    border-radius: 2%; }
  .studios .shadowCard {
    -webkit-box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74);
    -moz-box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74);
    box-shadow: 8px 11px 17px -6px rgba(51, 51, 51, 0.74); }

#studioBox {
  width: 100%;
  margin-right: 0px;
  box-sizing: none;
  box-decoration-break: none; }

.mapa {
  padding: 20px;
  text-align: center; }

.contactPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px; }

#botones {
  margin: 0px 10px; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; }
  .buttons .btn-callMe, .buttons .btn-join-club, .buttons .btn-contribute {
    background-color: #00a098;
    border-color: #00a098;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 0px 5px;
    color: #fafafa;
    box-shadow: none;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap; }
  .buttons .btn-join-club {
    background-color: #ff007b; }
  .buttons .btn-contribute {
    background-color: orange; }

.footer {
  border-top: 2px #fafafa double; }
  .footer .socials li img {
    width: 45px; }

footer {
  padding: 20px 20px;
  background-color: #00a098; }
  footer .pie {
    display: flex;
    flex-direction: column; }
    footer .pie h3 {
      padding: 10px; }

.socials {
  list-style: none;
  display: flex; }
  .socials li a img {
    width: 30px;
    padding: 5px; }

@media (min-width: 768px) {
  .logo img {
    width: 100%; }
  .main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .section-1 {
      width: 50%; }
    .main .section-2 {
      width: 50%; }
  .main2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pie {
    flex-direction: row;
    justify-content: center; }
  .contactPage {
    flex-direction: row; } }

@media (min-width: 1024px) {
  .main .section-1 {
    width: 70vw; }
  .main .section-2 {
    width: 30vw; }
  #galleryLeft {
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-left: 250px; } }

p {
  background-color: #00afb2; }

.footer {
  background-color: #099CB3; }

#grey-text {
  background-color: #ebe8e8; }
