
@media (min-width:768px){
  
    
   .main{
    
    @include display-flex();

    .section-1{
        width: 50%;

    }
    .section-2{
        width: 50%;
    }

}


    .main2{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }


    .pie{
        flex-direction: row;
        justify-content: center;
    }

    .contactPage{
        flex-direction: row;
    }


}


@media (min-width:1024px){
    
    .main{
   
        .section-1{
            width: 70vw;
    
        }
        .section-2{
            width: 30vw;
        }
    }
#galleryLeft{
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-left: 250px;
}

}