*{
    padding: 0;
    margin: 0;
}

// NAVBAR

.logo img{
    width: 70%;

}

//ABOUT

.main{
        section{
        img{
            width: 100%;
        }
    }
}

.main2{
    h1{
        text-align: center;
        padding-top: 15px;
    }
}


//APA LAB

#parrafo-ajuste{
    background-color: $fucsia;
}

#cajasLab{
    padding-top: 20px ;
}

//STUDIOS

.studios{
    width: 100%;
    background: rgb(255,0,123);
    background: linear-gradient(90deg, rgba(255,0,123,1) 0%, rgba(9,156,179,1) 100%);
    padding: 20px;
    
    img{
        padding: 5px;
        border-radius: 2%;
    }
    .shadowCard{
        -webkit-box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
        -moz-box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
        box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
    }
}

#studioBox{
    width: 100%;
    margin-right: 0px;
    box-sizing: none;
    box-decoration-break: none;
}

//CONTACT

.mapa{
    padding: 20px;
    text-align: center;
}

.contactPage{
    @include display-flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.buttons{
    @include display-flex;
    .btn-callMe{
        background-color: $colorVerde;
        border-color: $colorVerde;
        border-radius: 3px;
        padding: 6px 12px;
        margin: 0px 15px;
        color: $white;
        box-shadow: none;
        border-style: none;
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        cursor: pointer;
        white-space: nowrap;
    }
    
    .btn-join-club{
        @extend .btn-callMe;
        background-color: $fucsia;
    }

    .btn-contribute{
        @extend .btn-callMe;
        background-color: orange;
    }

}


//FOOTER

.footer{
    border-top: 2px $white double;
    .socials{
        li{
            img{
                width: 45px;
            }
        }
    }
}





