@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100&display=swap');

//vars fonts

$mainFont: 'Cabin', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

//sizes

$textSm: 0.7em;
$textMd: 1em;
$textL: 1.5em;


h1 {
    font-family:$mainFont;
    font-size: $textL;
    color:$colorVerde;
    background-color: $grey;
    text-align: center;
    @include text(2em, 600, $black);
}

h2 {
    font-family:$mainFont;
    font-size: $textMd;
    padding: 10px;
    margin: 15px 10px;
}

h3 {
    font-family:$secondaryFont;
    text-align: center;
}

p {
    @include text(1em, 600, $black);
    font-size: $textMd;
    padding: 25px;
}

.TextoFooter{
    @include text($textMd, 600, $black);
    color: $colorVerde;
    padding: 5px;
}

