@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100&display=swap');

//vars fonts

$mainFont: 'Cabin', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

//sizes

$textSm: 0.7em;
$textMd: 1em;
$textL: 1.5em;


h1 {
    font-family:$mainFont;
    font-size: $textL;
    text-align: center;
    @include text(2em, 600, $white);
}

h2 {
    font-family:$mainFont;
    font-size: $textMd;
    padding: 10px;
    margin: 15px 10px;
    color: $white;
}

h3 {
    font-family:$secondaryFont;
    text-align: center;
}

p {
    @include text(1em,400, $white);
    font-size: $textMd;
    padding: 25px;
    border-radius: 5px;
    border: dashed $grey 1px;
    -webkit-box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
    -moz-box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
    box-shadow: 8px 11px 17px -6px rgba(51,51,51,0.74);
}

.TextoFooter{
    @include text($textMd, 400, $black);
    color: $white;
    padding: 5px;
}
